[submodule "Reto-Laravel-Recolector"]
	path = Reto-Laravel-Recolector
	url = https://github.com/MarkosMartinez/Reto-Laravel-Recolector.git
[submodule "Reto-Laravel-Api"]
	path = Reto-Laravel-Api
	url = https://github.com/MarkosMartinez/Reto-Laravel-Api.git
