#contMapa{
    height: 600px;
}

.nav-link.active {
    background-color: rgb(71, 147, 247) !important;
    color: white !important;
    border-color: rgb(71, 147, 247) !important;
}

.nav-link:hover {
    border-color: rgb(71, 147, 247) !important;
}

#contenido {
    height: 89vh;
}

img.seleccionado {
   filter: hue-rotate(120deg);
}


/*Drag and Drop*/
#contenedor-drag-drop {
    border-radius: 50px;
    background: #ffffff;
    height: 500px;
}
.itemsdrop{
    display: none;
}