#contMapa{
    height: 79vh;
}

.nav-link.active {
    background-color: rgb(71, 147, 247) !important;
    color: white !important;
    border-color: rgb(71, 147, 247) !important;
}

.nav-link:hover {
    border-color: rgb(71, 147, 247) !important;
}

#contenido {
    min-height: 89vh;
}

img.seleccionado {
   filter: hue-rotate(150deg);
}


/*Drag and Drop*/

.itemdragable{
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 5px;
}

#contenedor-drag-drop {
    border-radius: 50px;
    background: #ffffff;
    height: 335.4px;
    position: relative;
    margin-top: 5px;
}

.humedad{
    width: 28px;
}

.itemsdrop{
    display: none;
}

#dd_borrar{
    margin-left: 5%;
    width: 85%;
    height: 70px;
    border-radius: 10px;
    text-align: center;
    background-color: red;
    position: absolute;
    bottom: 20px;
    transition: 0.5s;
}

#dd_borrar:hover{
    background-color: rgb(180, 7, 7);
    transition: 0.5s;
    cursor: pointer;
}

.papelera{
    padding-top: 35px;
}

.draggable{
    cursor: grab;
}

@media (max-width: 767px) {
    #contenedor-drag-drop {
        width: 94%;
        margin: 0 auto;
        text-align: center;
    }
  }


/*Graficos*/

#form_grafico{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.inputformgrafico{
    margin: 0px 5px;
    border-radius: 5px;
}